.register_section {
  h2 {
    text-align: center;
    margin-bottom: 3rem;
  }

  .error {
    border: 2px solid red !important;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    height: 100%;

    input {
      margin: 15px 0;
      background-color: #eee;
      border: none;
      font-size: 13px;
      outline: none;
      width: 100%;
      height: 40px;
      border-radius: 10px;
      padding: 10px 15px;
    }

    button {
      width: 300px;
      height: 40px;
      padding: 0.75em 3em;
      margin-top: 1rem;
      border-radius: 10px;
      border: 1px solid transparent;
      letter-spacing: 0.5px;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      background: rgb(30, 105, 134);
      color: #fff;
      transition: background-color 250ms;

      position: relative;
      isolation: isolate;
      overflow: hidden;
    }

    button:hover,
    button:focus-visible {
      background: hsl(185, 53%, 34%);
    }

    button > span {
      background: transparent;
      z-index: -1;
      position: absolute;
      width: 33.333%;
      height: 100%;
      opacity: 0.5;
    }

    button > :first-child {
      left: 0;
      top: 0;
    }

    button > :last-child {
      right: 0;
      top: 0;
    }

    button::before {
      content: "";
      position: absolute;
      background: hsl(200 60% 20%);
      z-index: -1;
      width: 10%;
      aspect-ratio: 1;
      border-radius: 50%;
      inset: 0;
      margin: auto;
      opacity: 0;
      transition: transform 1000ms 200ms, opacity 200ms;
    }

    button:active::before {
      transform: scale(20);
      opacity: 1;
      transition: transform 1000ms, opacity 500ms;
    }

    button:has(:first-child:active)::before {
      margin-left: 0;
    }

    button:has(:last-child:active)::before {
      margin-right: 0;
    }

    button:has(:first-child:active)::before,
    button:has(:last-child:active)::before {
      transition: transform 500ms, opacity 250ms;
    }
  }

  .link {
    text-align: center;
    margin-top: 2rem;

    a {
      transition: 0.3s ease-in-out 0.1s;
      text-decoration: none;
      color: #000;
    }

    a:hover {
      color: #eeeeee;
    }
  }
}
